.Hero{
    max-width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(8,0,58,0.4),rgba(8,0,58,0.4)), url("../assestsFInal/DarkBlueSkywithStars.jpg");
    background-repeat: no-repeat;
    background-size: cover;   
    /* Very Important for responsive bg */
    color: aliceblue;
    padding: 12vh 8vw;
}
    
.Hero-image img{
    max-height: 40vh;
    max-width: 40vw;
}

.Hero-text{
    padding: 4vh 0 0 4vw;
    flex-direction: flex-start;
    justify-content: center;
}

.Hero-text h1{
    font-size: max(4vw, 4vh);
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1vh;
}
.Hero-text p{
    font-size: max(2vw,2vh);
    font-weight: 400;
    margin-bottom: 2vh;
}

