.navbar {
    margin: 0.2vh 0.2vw 0.2vh 0.2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    z-index: 10;
    
}

.navbar-logo {
    display: flex;
    align-items: center;
}
.navbar-logo-image{
    max-width: 10vw;
    max-height: 10vh;
    margin-right: 2vw;
    margin-left: 2vw;
    border-radius: 100%;
}

nav ul li {
    list-style: none;
    display: inline;
    margin: 0 1vw;
    font-size: 1.5vw;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    cursor: pointer;
    justify-content: flex-end; /* Align at right */
}